<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create-account</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <form class="form" role="form" th:action="@{/customers/create}" th:object="${customer}" method="post">
    first name :<input th:field="${customer.firstName}" />
    last name :<input th:field="${customer.lastName}" />
    email :<input th:field="${customer.email}" />
    <button type="submit" >Submit</button>
  </form>
</body>
</html>