<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .details-container{
        display: grid;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height:fit-content;
        padding:15px;
        grid-template-columns: 1fr;
        background:#dddd;
      }
      span{
          width:fit-content;
      }
      body{
          display:grid;
          align-items: center;
          justify-content: center;
          width:100%;
          height:100vh;
      }
    </style>
</head>
<body>
    <div class="details-container">
          <span th:text="${customer.firstName}" style="align-self:center;"></span>
          <span th:text="${customer.lastName}"></span>
          <span th:text="${customer.email}"></span>
    </div>
</body>
</html>