<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customers</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <form class="form" role="form" th:action="@{/customers/{customerId}/edit(customerId=${customer.id})}" th:object="${customer}" method="post">
      <input type="hidden" th:field="*{id}" />
    first name :<input th:field="*{firstName}" />
      <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error-message"></p>
    last name :<input th:field="*{lastName}" />
      <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error-message"></p>
     email :<input th:field="*{email}" />
      <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></p>

      <button type="submit" >Submit</button>
  </form>
</body>
</html>